body {
    background-color: rgb(118, 86,70);
    /*background-image: url('cozy-lively-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    }
h1{
    color:white;

    text-align:center;
    font-size: 70px;

}
.top-section {
  background: url('topsection.png') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.iconasmr{
    width:100px;
    height: 100px;

}
.listel li{
    display: inline-block;
    list-style:none;
    margin: 15px;
}
.listel li a{
    color: rgb(28, 20, 59);
    size: 15px;
}
.nbar{
    justify-content: space-between;
    display: flex;
    padding: 15px 30px;
    z-index: 10;
    background-color: transparent;
}
p{
    font-size: 20px;
    color: rgb(234, 234, 178);
}

.hero {
  color: white;
  text-align: center;
  padding: 10px 10px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px;
}

.video-box {
  border: 3px solid white;
  padding: 10px;
  border-radius: 8px;
  background-color: #000; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
}

.video-box iframe {
  width: 100%;
  height: 200px; 
  border: none;
  display: block;
}

.vid-caption{
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    
}
